{% if languages|length > 1 %}

  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
   <ul class="lang">
	    <li class="dropdown-triangle"></li>
     
    
        {% for language in languages %}
        <li>
          <button class="language-select" type="button" name="{{ language.code }}"> {{ language.name }}</button>
        </li>
        {% endfor %}
      </ul>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
{% endif %}
